.btn-collap {
    background: #239F89;
    color: #fff;
    font-size: 16px;
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

.menu-title {
    color: #FFF !important;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 20px;
}

.header-menu {
    background-color: #3f474e;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #fff;
}
/* .container-menu {
    width: 240px;
} */

.layout .content {
    background: #e9e9e90d;
    padding: 20px 30px;
}

.layout .content .content-container {
    padding: 20px 30px;
    background: #fff;
}

.layout .logout {
    color: #7B7676;
    font-weight: 500;
    font-size: 14px;
}

.layout .logout:hover {
    color: #ec2d2d;
}

.layout .avatar {
    max-width: 42px;
    max-height: 42px;
    border-radius: 50%;
    border: 2px solid #94c0d4;
}

/* ///// */