.tour-pg .title {
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 104.348% */
    letter-spacing: 0.05px;
    color: rgba(0, 0, 0, 0.90);
    text-align: left;
}

.tour-pg .btn-add {
    background: #04AD8F;
    color: #FFF;
    /* font-size: 17px; */
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 141.176% */
    letter-spacing: 0.15px;
}

